<nav class="new"><a href="/">Timeline</a></nav>

<ul>
  <% sort_slanders(@slanders) do |slander| %>
    <li class="single_slander">
      <h2 class="username"><%= slander["username"] %></h2>
      <h3 class="paragraph"><%= slander["paragraph"] %></h3>
      <p class="slander_date">
        <%= slander["date_created"] %>
      </p>
    <% if slander["username"] == session[:username] %>
      <a href="/profile/<%=slander["username"]%>/delete/<%= slander_id(slander["paragraph"])%>">Delete</a>
    <% end %>
    </li>
  <% end %>
</ul>

